.navbar-nav {
    a {
        text-decoration: none;
    }
}
@include media-breakpoint-down(xs) {
    .navbar-nav {
        padding-top: 15px;
        padding-bottom: 15px;

        .nav-item {
            &:first-child {

                a {
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                }
            }

            a {
                width: 100%;
                padding: 8px 15px;
                display: block;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.main-footer {
    padding: 25px 0;
    background-color: #E9ECEF;
}

.app-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    .app-modal-dialog {
      margin: 25px auto;
      width: 94%;
      max-width: 450px;
      min-height: 250px;
      background: #fefefe;
      border-radius: $card-border-radius;
      box-shadow: $modal-content-box-shadow-xs;
    }
  }