.image-grid {
    &-card {
        .image-cont {
            position: relative;
        }

        ul.image-properties {
            @extend .list-unstyled;
            position: absolute;
            bottom: 0px;
            right: 0;
            margin: 0;
            color: $white;

            li {
                display: inline-block;
                background-color: rgba($gray-600, .5);
                border-radius: $card-border-radius;
                margin: 4px;
                padding: 2px 4px;
                font-size: 0.8em;
                line-height: 1.2;

                &.owner{ background-color: rgba($green, .5);}
                &.public{ background-color: rgba(darken($yellow, 10), .7); color: $white;}
            }
        }

        &:hover {
            li{ background-color: rgba($gray-600, 1);}
            .owner{ background-color: rgba($green, 1);}
            .public{ background-color: rgba($blue, 1);}
        }

        .img-tag {
            margin: 0 2px 5px 0;
            text-decoration: none;
            text-transform: capitalize;

            &:not(:last-child):after {
                content: ' , '
            }
        }
    }
}