$section-height-md: 550px;
$section-height-sm: 420px;
$section-height-xs: 300px;

#page-upload {
    section.section--elevated {
        box-shadow: 0 0 10px rgba(94, 94, 95, 0.4), 0 0 25px rgba(94, 94, 95, .14);
    }

    .upload-section__dropzone {
        width: 100%;
        height: $section-height-md;
        background-color: $gray-200;
        border: 4px dashed transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in-out;

        &:before {
            content: '';
            display: block;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border: 2px dashed $gray-400;
            position: absolute;
            top: 25px;
            left: 25px;
            transition: all 200ms ease-in-out;
        }
        >span {
            font-size: 25px;
            font-weight: 300;
            color: $gray-500;
            opacity: 1;
            transition: all 200ms ease-in-out;
        }
        &.active {
            border: 4px dashed $blue;
            &:before {
                border-color: $gray-600;
            }
            >span {
                opacity: 0.2;
            }
        }
    }

    .preview-section {
        .preview-canvas {
            width: 100%;
            height: $section-height-md;
            background-image: url("/static/svg/bg.svg");
            background-color: $gray-200;
            background-size: 20px auto;
            background-repeat: repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .preview-img-cont {
                max-width: calc(100% - 15px);
                max-height: calc(#{$section-height-md} - 15px);
                display: block;
            }
            .preview-img {
                max-width: 100%;
                max-height: calc(#{$section-height-md} - 15px);
                margin: auto;
                display: block;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .upload-section__dropzone {
            height: $section-height-sm;
        }
        .preview-section {
            .preview-canvas {
                height: $section-height-sm;
                .preview-img-cont {
                    max-width: calc(100% - 15px);
                    max-height: calc(#{$section-height-sm} - 15px);
                }
                .preview-img {
                    max-height: calc(#{$section-height-sm} - 15px);
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .upload-section__dropzone {
            height: $section-height-xs;
            &:before {
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                top: 15px;
                left: 15px;
            }
            >span {
                font-size: 18px;
            }
        }
        .preview-section {
            .preview-canvas {
                height: $section-height-xs;
                .preview-img-cont {
                    max-width: calc(100% - 15px);
                    max-height: calc(#{$section-height-xs} - 15px);
                }
                .preview-img {
                    max-height: calc(#{$section-height-xs} - 15px);
                }
            }
        }
    }
}
